---
const tiempoTranscurrido = Date.now();
const hoy = new Date(tiempoTranscurrido);

const today = new Date();
const yyyy = today.getFullYear();
let mm = today.getMonth() + 1;
let dd = today.getDate();
let ddString, mmString;

if (dd < 10) ddString = '0' + dd.toString();
if (mm < 10) mmString = '0' + mm.toString();

const fecha = yyyy + '-' + mmString + '-' + ddString;

const urlApi =
  'https://api.open-meteo.com/v1/forecast?latitude=-53.14&longitude=-70.93&daily=temperature_2m_max,temperature_2m_min&timezone=America%2FSao_Paulo&start_date=' +
  fecha +
  '&end_date=' +
  fecha +
  '&current_weather=true';

let res = await fetch(urlApi);
let clima = await res.json();
---

<div
  class="flex-1 flex-row justify-between items-center h-auto bg-red-700 px-3 py-1 hidden lg:flex md:flex"
>
  <span class="text-white p-h-1 w-auto font-thin text-md">
    Punta Arenas, {hoy.toDateString()}</span
  >

  <div id="rrss" class="flex flex-row gap-2">
    <a
      href="<?php bloginfo('url');?>/clima"
      class="flex flex-row gap-2 justify-center items-center"
    >
      <img src="/assets/weather.png" alt="Clima" />
      <div id="widgetclima" class="text-white">
        Tº Actual: {clima.current_weather.temperature} Cº | Máx: {
          clima.daily.temperature_2m_max
        } Cº | Min: {clima.daily.temperature_2m_min} Cº
      </div>
    </a>
  </div>
</div>

<header class="px-4 my-4 flex flex-row justify-between items-center gap-2">
  <div class="md:w-3/12 w-full lg:w-3/12">
    <a href="#">
      <img
        src="/assets/logo-polar.png"
        alt="Polar Comunicaciones"
        width="300"
      />
    </a>
  </div>
</header>
<nav class="bg-gray-200 p-2 my-2 flex flex-row items-center justify-between">
</nav>
